@using Reddit.Models
@model Comment

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="editForm">
            @using (Html.BeginForm("EditReply", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {               
                @Html.HiddenFor(model => model.Id);
                @Html.HiddenFor(model => model.Author);
                <div class="form-group">
                    @Html.LabelFor(x => x.Content, new { @class = "control-label" })
                    @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @rows = "8" })
                </div>
                <button type="submit" class="btn btn-block btn-primary">Post Changes</button>
            }
        </section>
    </div>
</div>