@using Reddit.Models
@using System.Globalization
@{
    ViewBag.Title = "Reddit";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header text-center">
            <h1>Welcome to @ViewBag.Title</h1>
            @if(Model.Count == 0)
            {
                <h2>The forum is empty ;(</h2>
            }
            <table class="table table-bordered table-hover text-center">
                @foreach(var topic in Model)
                {
                    <tr>
                        <td>@Html.ActionLink((string)topic.Name, "ViewTopic", "Home", new { @id = topic.Id }, null)</td>
                        <td>by <em>@topic.Author</em></td>
                        <td>Created on <small>@topic.Date.ToString("dd/MM/yyyy HH:mm", CultureInfo.InvariantCulture)</small></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>